<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093231796113-svn2g57or1354fmsm24ajscg4eavvv2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093231796113-svn2g57or1354fmsm24ajscg4eavvv2s</string>
	<key>API_KEY</key>
	<string>AIzaSyCin3tRftwmKfwyVSBbCQ2Kf8V5gSnXpJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1093231796113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Josh-Hoyle.UPSERS</string>
	<key>PROJECT_ID</key>
	<string>upsers-96678</string>
	<key>STORAGE_BUCKET</key>
	<string>upsers-96678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093231796113:ios:34cff5b67ef4f6f24c0430</string>
</dict>
</plist>